#mc_embed_signup {
  background-color: #1485cc;
  padding: 30px;
  color: white;
   width: 100%;
   float: left;
}

.navbar {
  background-color: #dc3545;
}

.container {
  padding-top: 35px;
}

#logoletters {
  color: white;
  text-align: right;
}
#logoletters-right{
  position: fixed;
  right: 0px;
  font-family: serif;
  color: white;
  text-align: right;
}
